.ScanPage{

    .Title{
        font-size: 20px;
    }

    .FileUpload{
        background-color: white;
        width: 70%;
        margin-left: 15%;
        padding: 20px;
        font-weight: bold;
    }

    .Desc{
        margin-top: 20px;
        margin-left: 15%;
        font-weight: bold;
    }
}